<% @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <h1>Title: <%= book.title %></h1>
    <p>Pages: <%= book.pages %></p>
    <p>Publication Year: <%= book.publication_year %></p>
    <% book.authors.each do |author| %>
      <p>Author: <%= link_to author.name, "/authors/#{author.id}" %></p>
    <% end %>
  </section>
<% end %>
